@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.enredoGeral{
    background-color: #0E1015;
    padding: 45px;
}

.setaEnredo{
    display: flex;
    gap: 10px;
    font-family: "Krona One", sans-serif;
    color: white;
    width: 400;
    font-size: 16px;
    line-height: 20px;

   
}


.textoEnredo{
    font-family: "Krona One", sans-serif;
    color: white;
}