@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.geralDestaque2{
    background-color: #1C171D;
    display: flex;
    flex-direction: column;
    padding: 32px 32px 6px 32px;
    border-radius: 8px;
    gap: 12px;
    margin-top: 50px;
}

.avaliacaoEmDestaque2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 45px;
    padding-right: 45px;
}

.tituloAvaliacaoEmDestaque{
    background-color: #D5224E;
    font-family: "Krona One", sans-serif;
    color: white;
    padding: 6px 32px 6px 32px;
    border-radius: 8px 4px 24px 8px;
}

.autor{
    display: flex;
    justify-content: space-between;
    color: #D5224E;
    font-family: "Krona One", sans-serif;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: normal;
}

.likeDeslike{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: "Krona One", sans-serif;
    gap: 50px;
}

.likeDeslikePonto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between ;
    padding: 10px 32px 10px 32px;
}
.like{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    max-height: 24px;
}
.segundoTexto{
    color: white;
    font-family: "Krona One", sans-serif;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: normal;
}

.spoiler{
    background-color: #0E1015;
    color: #FF003F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 10px;
}